# Ignore local configuration files.
/.bundle
/.rspec
/.rubocop
/.ruby-version
Gemfile.lock

# Ignore all logfiles and tempfiles.
.byebug_history
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/spec/examples.txt

# Ignore local and generated documentation.
/coverage/*
/doc/*
./docs/.jekyll-cache
./docs/_site
.yardoc
.yardopts

# Ignore built gem versions.
*.gem
