<nav class="<%= header_class_name %>" role="navigation" aria-label="main navigation" data-controller="navbar">
  <div class="<%= container_class_name %>">
    <div class="navbar-brand">
      <%= render(build_brand) %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-action="click->navbar#toggle" data-navbar-target="button">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

      <%= render_navigation %>
    </div>
  </div>
</nav>
