/*******************************************************************************
 * UTILITIES
 ******************************************************************************/

.is-borderless { border: 0; }

.has-text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*******************************************************************************
 * COMPONENTS
 ******************************************************************************/

.buttons.is-gapless { gap: 0; }

.column { min-width: 0; }

/*******************************************************************************
 * FORMS
 ******************************************************************************/

.select.is-block > select { width: 100%; }
