/*******************************************************************************
 * UTILITIES
 ******************************************************************************/

.is-borderless { border: 0; }

.is-overflow-hidden { overflow: hidden; }

.has-text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*******************************************************************************
 * COMPONENTS
 ******************************************************************************/

.alert {
  border-radius: var(--bulma-radius);
  border-style: solid;
  border-width: var(--bulma-control-border-width);

  padding: calc(0.5em - var(--bulma-control-border-width))
}

.buttons.is-gapless { gap: 0; }

.column { min-width: 0; }

.level .level-shrink { flex-shrink: 1; }

/*******************************************************************************
 * FORMS
 ******************************************************************************/

.select.is-block > select { width: 100%; }
