/*******************************************************************************
 * UTILITIES
 ******************************************************************************/

.is-borderless { border: 0; }

/*******************************************************************************
 * COMPONENTS
 ******************************************************************************/

.buttons.is-gapless { gap: 0; }

/*******************************************************************************
 * FORMS
 ******************************************************************************/

.select.is-block > select { width: 100%; }
