<tbody>
  <% if data.empty? %>
    <tr>
      <td colspan="<%= columns.size %>">
        <%= render_empty_message %>
      </td>
    </tr>
  <% end %>

  <% data.each do |item| %>
    <%= render_row(item:) %>
  <% end %>
</tbody>
